
<ion-content>
  <!-- la partie ou il ya le nom et la photo -->
  <div class="bleu">
    <ion-buttons slot="start" color="light">
      <ion-back-button defaultHref="accueil" color="light" routerLink="/home"></ion-back-button>&nbsp;
    </ion-buttons>
    <div style="padding-top: 40px; ">
      <img src="../../assets/person.png" alt="">
    </div>

    <div class="text">
      <p style="font-weight: bold;">{{user.pseudo}}</p>
      <p><ion-icon name="location"></ion-icon>Mali</p>
    </div>
  </div>

  <div class="blanc">
    <div class="edit">
      <button style="width: 80%;" class="fonction" routerLink="/edit-compte" >
        <ion-label>Modifier</ion-label>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </button>

      <button style="width: 80%;" class="fonction" routerLink="/update-pass" >
        <ion-label>Mot de passe</ion-label>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </button>

      <button style="width: 80%;" class="fonction deconnexion" routerLink="/login">
        <ion-label>Deconnexion</ion-label>
        <!-- <ion-icon name="power"></ion-icon> -->
        <ion-icon name="log-out-outline"></ion-icon>
      </button>
    </div>

  </div>
</ion-content>
