<ion-content>
  <form #delta="ngForm" (ngSubmit)="updateUser(delta)">
      <div class="header">
        <a routerLink="/profil" style="text-decoration: none; font-weight: 600; margin-left: 10px;">Annuler</a>
        <ion-button type="submit"s fill="clear" size="small" style="font-weight: bold; display: block; float: right; margin-top: -3px;">Terminer</ion-button>
      </div>
      <div class="profile ion-text-center">
          <img src="../../assets/person.png" alt="">
      </div>
      <p style="font-size: small; color: blue;" class="ion-text-center"></p>

      <ion-grid>
          <!-- ----------------------------------------Nom---H------------  -->
          <ion-row>
              <ion-col size="3" class="ion-text-wrap">
                  <label for="">Nom</label>
              </ion-col>
              <ion-col size="5">
                  <ion-item lines="none">
                      <ion-input type="text" name="nom" [(ngModel)]="user.pseudo"></ion-input>
                  </ion-item>
              </ion-col>
          </ion-row>

          <!-- ----------------------------------------Prenom---------------  -->
          <ion-row>
              <ion-col size="3" class="ion-text-wrap">
                  <label for="">Nom</label>
              </ion-col>
              <ion-col size="5">
                  <ion-item lines="none">
                      <ion-input type="text" name="prenom" placeholder="Nom complet"></ion-input>
                  </ion-item>
              </ion-col>
          </ion-row>

          <!-- ----------------------------------------Numero de telephone---------------  -->
          <ion-row>
              <ion-col size="3" class="ion-text-wrap">
                  <label for="">Numero</label>
              </ion-col>
              <ion-col size="5">
                  <ion-item lines="none">
                      <ion-input type="text" name="numero" placeholder="numero"></ion-input>
                  </ion-item>
              </ion-col>
          </ion-row>


      </ion-grid>

  </form>
