<ion-content>
  <div class="icon ion-text-center" >
    <img src="../../assets/note.png" alt="" style="height: 100px; width: 100px">
    <p>My Note</p>
  </div>
  <div class="champ ion-text-center">
    <form class="ion-text-center" #data="ngForm" (ngSubmit)="Login(data)">
      <ion-item lines="none">
        <ion-input placeholder="Pseudo" name="pseudo" ngModel></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input type="password" placeholder="Mot de passe" name="pass" ngModel></ion-input>
      </ion-item>
      <ion-button type="submit" fill="clear">Connexion</ion-button>
    </form>
  </div>
  <p style="margin-left: 12px; margin-top:20px">
    Pas de compte? <a routerLink="/register">s'inscrire</a>
  </p>
</ion-content>
