ion-title{
  font-size: 15px;
}

.text{
  margin-top: 80px;
  width: 300px;
  margin-left: 10px;
  margin-right: 10px;
  ion-input{
    box-shadow: 3px 3px 3px rgb(163, 163, 163);
  }
}

ion-button{
  color: #fff;
  background-color: #15435C;
  width: 200px;
}
