<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title style="font-size: 14px;">Nouvelle note</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="ion-text-center" #data="ngForm" (ngSubmit)="AddNote(data)">
    <ion-item class="norm">
      <ion-input placeholder="Titre" name="titre" ngModel [(ngModel)]="titre"></ion-input>
    </ion-item>

    <ion-item class="norm">
      <ion-label>Date</ion-label>
      <ion-input type="date" name="date" ngModel [(ngModel)]="date"></ion-input>
    </ion-item>

    <ion-item  class="norm">
      <ion-select #select placeholder="Categorie" ngModel name="id_cate" [(ngModel)]="categorie">
          <ion-select-option *ngFor="let i of cate" [value]="i.id">{{i.nom}}</ion-select-option>
      </ion-select>
    </ion-item>

    <textarea placeholder="Contenu..." name="contenu" ngModel [(ngModel)]="contenu"></textarea>
    <ion-button type="submit" fill="clear">Ajouter</ion-button>
  </form>
</ion-content>
