<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="title ion-text-center">
    Detail
  </div>
  <div class="notification" style="margin-top: 80px;">
    <div class="titre">
      <p class="nom">Titre de la note</p>
      <p class="date">date</p>
    </div>
    <div class="contenu">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil officia minus fuga dicta ducimus velit omnis accusamus labore et odio, amet error ea est aliquid quia accusantium sapiente sint totam.
    </div>
  </div>
