<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="title ion-text-center">
    Detail
  </div>
  <div class="notification" style="margin-top: 80px;">
    <div class="titre">
      <p class="nom">{{note?.titre}}</p>
      <p class="date">{{note?.date}}</p>
    </div>

    <form [formGroup]="noteContenu">
      <div class="contenu" (click)="changeDisable()">
        <textarea [disabled]="disable" formControlName="contenu" [value]="note?.contenu"></textarea>
      </div>

      <ion-fab horizontal="end" vertical="bottom" slot="fixed" *ngIf="disable === false">
        <ion-fab-button color="secondary" (click)="upadateNote()">
          <ion-icon name="checkmark-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </form>
  </div>
</ion-content>
