<ion-content>
  <div class="icon ion-text-center" >
    <img src="../../assets/note.png" alt="" style="height: 100px; width: 100px">
    <p>My Note</p>
  </div>
  <div class="champ ion-text-center">
    <form class="ion-text-center">
      <ion-item lines="none">
        <ion-input placeholder="Pseudo"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input placeholder="Mot de passe"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input placeholder="Confirmer mot de passe"></ion-input>
      </ion-item>
      <ion-button fill="clear" routerLink="/home">Inscription</ion-button>
    </form>
  </div>
  <p style="margin-left: 12px; margin-top:20px">
    Vous avez un compte? <a routerLink="/login">se connecter</a>
  </p>
</ion-content>
